<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- frontuser -->
<mapper namespace="com.bdqn.dao.FrontUserMapper">
    <!-- 表所有字段 -->
    <sql id="allColumns">
        userId, userName, idCard, phone, provinceData, province, 
        cityData, city, areaData, area, address, money, 
        idJust, idAgainst, state, remark
    </sql>

    <select id="selUser" resultType="FrontUser">
        SELECT <include refid="allColumns"/> FROM frontuser
        <where>
        <if test="userName !=null and userName !=''">
            AND userName LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="idCard !=null and idCard !=''">
            AND idCard LIKE CONCAT('%',#{idCard},'%')
        </if>
        <if test="phone !=null and phone !=''">
            AND phone LIKE CONCAT('%',#{phone},'%')
        </if>
        <if test="state !=null">
            AND state=#{state}
        </if>
        </where>
    </select>

    <select id="loginUser" resultType="FrontUser">
           select userName, idCard, phone
           from frontuser
           where userName=#{userName} and idCard=#{idCard} and phone=#{phone}
    </select>

    <!-- 插入数据 -->
    <insert id="addUser">
        INSERT INTO frontuser (userId, userName, idCard, phone, provinceData, province,
        cityData, city, areaData, area, address, money,state, remark)
        VALUES (
        null,
        #{userName},
        #{idCard},
        #{phone},
        #{provinceData},
        #{province},
        #{cityData},
        #{city},
        #{areaData},
        #{area},
        #{address},
        #{money},
        #{state},
        #{remark}
        )
    </insert>

    <delete id="delBatch" >
        delete from  frontuser where userId in
        <foreach collection="ids" item="arr" index="index" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </delete>

    <update id="updateFrontUser">
        UPDATE frontuser SET
            userName = #{userName},
            idCard = #{idCard},
            phone = #{phone},
            provinceData = #{provinceData},
            province = #{province},
            cityData = #{cityData},
            city = #{city},
            areaData = #{areaData},
            area = #{area},
            address = #{address},
            money = #{money},
            state = #{state},
            remark = #{remark}
        WHERE userId = #{userId}
    </update>

    <select id="findById" resultType="frontUser">
        SELECT <include refid="allColumns"/> FROM frontuser where userId=#{uid}
    </select>

</mapper>